{{/*<amp-sidebar id="sidebar" class="sidebar" layout="nodisplay" side="right">*/}}
{{/*    <ul class="sidebar-list">*/}}
{{/*        <li class="sidebar-menu">*/}}
{{/*            <button class="sidebar-icon" aria-hidden="true" on="tap:sidebar.close">&#x274c;</button>*/}}
{{/*        </li>*/}}
{{/*        {{ $currentPage := . }}*/}}
{{/*        {{ range .Site.Menus.main }}*/}}
{{/*            {{ $active := eq $currentPage.RelPermalink .URL }}*/}}
{{/*            <li class="sidebar-item {{if $active }} is-active {{ end }}"><a class="sidebar-link"*/}}
{{/*                                                                            href="{{ .URL }}">{{ .Name }}</a></li>*/}}
{{/*        {{ end }}*/}}
{{/*    </ul>*/}}
{{/*</amp-sidebar>*/}}
