@media (min-width: $desktop) {
  .main:not(.entry-list) {
    > article *, > header, > footer {
      max-width: $content-max;
    }
    hr {
      max-width: 100%;
    }

    > article {
      pre, code {
        max-width: 100%;
        * {
          max-width: 100%;
        }
      }
    }

  }
}
